@model List<Song> 

<h2>Каталог песен пользователя</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Жанр</th>
                <th>Исполнитель</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var song in Model)
            {
                <tr>
                    <td>@song.Title</td>
                    <td>@song.Genre.Name</td>
                    <td>@song.Artist.Name</td>
                    <td>
                        <a href="@Url.Action("Download", "User", new { id = song.Id })" class="btn btn-primary">Скачать</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>У пользователя нет песен в каталоге.</p>
}

<a asp-controller="User" asp-action="Upload" class="btn btn-primary">Загрузка песен</a>