@model UploadSongViewModel

<h2>Загрузка новой песни</h2>
<a asp-controller="User" asp-action="Index" class="btn btn-primary">Вернуться к просмотру каталога</a>

<form asp-action="Upload" method="post" enctype="multipart/form-data" class="bw">
    <div class="form-group">
        <label>Название песни:</label>
        <input type="text" asp-for="SongTitle" required class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SelectedArtistId">Выберите автора:</label>
        <select asp-for="SelectedArtistId" class="form-control">
            <option value="">-- Выберите автора --</option>
            @foreach (var artist in Model.Artists)
            {
                <option value="@artist.Id">@artist.Name</option>
            }
        </select>
        <span asp-validation-for="SelectedArtistId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SelectedGenreId">Выберите жанр:</label>
        <select asp-for="SelectedGenreId" class="form-control">
            <option value="">-- Выберите жанр --</option>
            @foreach (var genre in Model.Genres)
            {
                <option value="@genre.Id">@genre.Name</option>
            }
        </select>
        <span asp-validation-for="SelectedGenreId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Выберите файл песни:</label>
        <input type="file" name="file" accept=".mp3" required class="form-control-file" />
    </div>
    <button type="submit" class="btn btn-primary">Загрузить</button>
</form>

