@using MusicPortal.BLL.DTO
@model List<ArtistDTO>

<h2>Исполнители</h2>
<form asp-controller="Admin" asp-action="AddArtist" method="post">
    <label>Имя исполнителя:</label>
    <input type="text" name="artistName" required>
    <button type="submit" class="btn btn-success">Добавить исполнителя</button>
</form>

<table class="table bw">
    <thead>
        <tr>
            <th>Имя исполнителя</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var artist in Model)
        {
            <tr>
                <form asp-controller="Admin" asp-action="EditArtist" method="post">
                <td>
                    <input type="hidden" name="artistId" value="@artist.Id" />
                    <input type="text" value="@artist.Name" name="newName" />
                </td>
                <td>
                    <button class="btn btn-warning" type="submit">Изменить</button>
                    <button type="submit" formaction="@Url.Action("DeleteArtist", "Admin", new { id = artist.Id })" class="btn btn-danger">Удалить</button>
                </td>
                </form>
            </tr>

        }
    </tbody>
    <a class="nav-link warn" href="@Url.Action("Index", "Admin")">Back</a>

</table>
