<h2>Админ-панель</h2>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link warn" href="@Url.Action("ManageUsers", "Admin")">Управление пользователями</a>
    </li>
    <li class="nav-item">
        <a class="nav-link warn" href="@Url.Action("ManageGenres", "Admin")">Управление жанрами</a>
    </li>
    <li class="nav-item">
        <a class="nav-link warn" href="@Url.Action("ManageArtists", "Admin")">Управление исполнителями</a>
    </li>
</ul>